.card {
  box-shadow: 0px 4px 7px 0px var(--grey-shadow);
  border-radius: var(--border-radius);
  padding: 0.2rem;
}

@media screen and (min-width: 768px) {
  .card {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 900px) {
  .card {
    padding: 0.5rem;
  }
}
