.bierPngContainer {
  position: relative;
  width: 10rem;
  aspect-ratio: 563 / 640;
}

.bierstein {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.biersteinColor {
  background: rgba(155, 206, 248, 0.3);
  position: absolute;
  height: 100%;
  left: 3px;
  width: 64%;
  border-radius: 13% 33% 44% 43% / 13% 7% 10% 10%;
}
.bierstein img {
  width: 100%;
  height: 100%;
}

.bierProgressBar {
  position: absolute;
  width: 56%;
  height: 68%;
  left: 6%;
  top: 4%;
  border-radius: 6% 7% 43% 36% / 5% 3% 10% 10%;
  overflow: hidden;
}

.bierPngProgressFill {
  position: absolute;
  bottom: 0;
  transition: height 0.1s linear;
  border-radius: 3% 3% 40% 40% / 3% 3% 10% 10%;
  background-color: rgb(255, 216, 108);
  height: 100%;
  width: 100%;
  transition: height 0.1s linear;
}



@media screen and (min-width: 1100px) {
.bierPngContainer {

  width: 13rem;

}
  }