.answerOptionsContainer {
  margin: 0 auto;
  max-width: 320px;
  width: 95%;
}

.answerCard {
  background: var(--white);
}

.skipPlaceholder {
  height: 4rem;
  padding-top: 1rem;
}

.skipBtn {
  background: var(--gold);
  padding: .5rem;
  width: 10rem;
    position: relative;
    transition: all 0.2s linear 0s;
}
.skipBtn::before {
content: "🦘";
position: absolute;
top: -3px;
font-size: 1.5rem;
transform: scaleX(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}

.skipBtn:hover {
  text-indent: -20px;
  background: var(--white);
}

.skipBtn:hover::before {
  opacity: 1;
  text-indent: 0px;
}


@media screen and (min-width: 768px) {
  .answerOptionsContainer {
  max-width: 500px;
  width: 50%;
}

}
