.citiesQuizContainer {
}
.citiesQuizResultsDesktop {
  display: none;
}

.imageContainerMobile {
  aspect-ratio: 917 / 1280;
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
}

.imageContainerMobile img {
  width: 100%;
}

.cardContainer {
  display: grid;
  grid-template-columns: minmax(250px, 315px);
  justify-content: center;
}

.resultsCard {
  background: var(--white);
  margin: 0.5rem 0.2rem;
}
.resultsCard h3 {
  font-size: 1rem;
}

.wrong {
  color: var(--red);
}
.wrong span {
  margin-right: 0.5rem;
}

@media screen and (min-width: 425px) {
  .imageContainerMobile {
    width: 380px;
  }
}

@media screen and (min-width: 600px) {
  .citiesQuizResultsMobile {
    display: flex;
  }
  .imageContainerMobile {
    margin: unset;
    margin-right: 1rem;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
}
/* DESKTOP HOVER  */
@media screen and (min-width: 900px) {
  .citiesQuizResultsMobile {
    display: none;
  }
  .citiesQuizResultsDesktop {
    display: flex;
    padding: 0.5rem 2rem;
  }

  .mapAnswerContainer {
    position: relative;
     width: 580px;
  }
  .capitalBoxContainer,
  .imageContainerDesktop {
    position: absolute;
    aspect-ratio: 917 / 1280;
    margin: 0 1rem 0 0;
    width: 580px;
  }

  .imageContainerDesktop {
    overflow: hidden;
  }

  .capitalBoxContainer {
    z-index: 5; /* keep in case I move the divs*/
  }

  .imageContainerDesktop img {
    width: 100%;
  }
  .capitalBox {
    position: absolute;
    border: 2px solid var(--black);
    background: rgba(255, 255, 255, 0.7);
    border-radius: var(--border-radius);
  }

  .capitalBox p {
    white-space: nowrap;
  }

  .statesList {
    flex: 1;
    padding: 1rem 2rem 1rem 5rem;
  }

  .correctBtn {
    color: var(--black);
  }

  .incorrectBtn {
    color: var(--red);
  }
}
