.resultsContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: center;
}

.imgContainer {
  width: 300px;
  aspect-ratio: 330 / 160;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  object-fit: cover;
}

.resultCard {
  background: var(--white);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.resultCard ul {
  margin-left: 1rem;
  line-height: 1.25;
}

.question {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  flex-grow: 1;
}

.wrong {
  color: var(--red);
  font-weight: 700;
}

@media (min-width: 768px) {
  .resultsContainer {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .resultCard ul {
    line-height: 1.3;
  }

  .question {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 700;
  }
}

@media (min-width: 900px) {
  .resultsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 0.5rem;
  }
}
