/* background image for app is the german flag.
some heights will be set to handle the flag's stripes' colors
and their contents' colors */
.header {
  align-items: center;
  background: #000;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 1rem;
  height: var(--flag-stripe-height);
}

.header h1,
.header p {
  color: var(--white);
  max-width: 100%;
  padding: 0 1rem;
  word-wrap: break-word;
}
.header h1 {
  font-size: 1.5rem;
}

.header p {
  font-size: 1rem;
}

.header > div {
  text-align: center;
}

.imageContainer {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header p {
    font-size: 1.25rem;
  }
  .imageContainer {
    display: block;
  width: 50px;
  aspect-ratio: 10 / 16;
  overflow: hidden;
}
}
