
.quizQuestionContainer {
    background: var(--red);
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.quizQuestionContainer h2 {
  font-size: 1.2rem;
}

.quizQuestion {
    display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.quizQuestionIntro {
    display: flex;
  gap: 0.3rem;
  padding: 0.25rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.quizQuestionIntro,
.quizQuestionContainer {
  padding: 0.25rem;
}

/* IMAGE ASSOCIATED WITH QUIZ QUESTION  */
.questionImage {
display: flex;
justify-content: center;
align-items: center;
width: 100px;
border-radius: 50%;
overflow: hidden;
margin: 0 auto;
box-shadow: 0px 10px 10px -6px var(--grey-shadow);
}



.questionImage img {
  width: 100%;
}


@media screen and (min-width: 426px) {
  .quizQuestionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quizQuestionIntro,
  .quizQuestionContainer {
    width: 90%;
    max-width: 630px;
  }
}

@media screen and (min-width: 768px) {
  .questionImage {
    width: 150px;
  }
  .quizQuestionIntro {
    flex-direction: column;
    align-items: center;
    max-width: 57rem;
  }

  .quizQuestion {
  flex-direction: row;
    gap: 0;
    align-items: center;
    align-self: flex-start;
    width: 75%;
    max-width: 56rem;
    height: 150px;
  }

 .quizQuestionh2 {
  color: blue;
    font-size: 1.5rem;
    flex-grow: 1;
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
  }

    .timer {
    position: absolute;
    left: 75%;
  }

}

@media screen and (min-width: 768px) {}