/* IMAGE ASSOCIATED WITH QUIZ QUESTION  */
.questionImage {
display: flex;
justify-content: center;
align-items: center;
width: 100px;
border-radius: 50%;
overflow: hidden;
margin: 0 auto;
box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}



.questionImage img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .questionImage {
    width: 150px;
  }
}
