.quizQuestionContainer {
  background: var(--red);
  font-size: 1.2rem;
  padding-bottom: 2rem;
  min-height: 36rem;
}

.quizQuestionContainer h2 {
  font-size: 1.2rem;
  overflow-wrap: anywhere;
}

.quizQuestion {
  background: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem 0.5rem;
  max-width: 320px;
  width: 98%;
}

.quizQuestionIntro {
  display: flex;
  gap: 0.3rem;
  padding: 0.25rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.quizQuestionIntro,
.quizQuestionContainer {
  padding: 0.25rem;
}

/* IMAGE ASSOCIATED WITH QUIZ QUESTION  */
.questionImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 10px 10px -6px var(--grey-shadow);
}

.questionImage img {
  width: 100%;
}

@media screen and (min-width: 425px) {
  .quizQuestionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quizQuestion {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) {
  .questionImage {
    width: 150px;
  }

  .quizQuestion {
    gap: 0;
    align-items: center;
    width: 86%;
    max-width: 47rem;
  }

  .quizQuestion h2 {
    font-size: 1.5rem;
    flex-grow: 1;
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
  }

  .timer {
    position: absolute;
    left: 70%;
    top: 100%;
  }
}

@media screen and (min-width: 900px) {
  .timer {
    position: absolute;
    left: 70%;
    top: 130%;
  }
}

@media screen and (min-width: 1100px) {
  .quizQuestion {
    margin: 1rem auto 2rem;
    width: 60%;
    max-width: 58rem;
  }
}
