.timerselectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 22.5rem;
  margin: 0.25rem auto;
}

.timerselectContainer label {
  font-family: var(--serif);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.25rem;

}

.customSelectButton {
  display: flex;
  width: 80%;
  padding: 0.75rem 1rem;
  text-align: left;
  background: white;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;
}

.customSelectDropdown {
  background: white;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius);
  list-style: none;
  margin: 0.25rem 0 0 0;
  padding: 0;
  position: absolute;
  width: 90%;
  max-width: 20rem;
  z-index: 10;
}

.customSelectOption {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.75rem 1rem;
}
.customSelectOption:not(:last-child) {
    border-bottom: 2px solid var(--very-light-grey);
}

.customSelectOption:hover {
  background: #f0f0f0;
}

.optionLabel {
    color: var(--black);
  font-size: 1.15rem;
}


