.timerselectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 22.5rem;
  margin: 0.25rem auto;
  position: relative;
}

.timerselectContainer p {
  margin-bottom: 0.5rem;
}

.timerselectContainer label {
  font-family: var(--serif);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.25rem;
}

.customSelectBtn {
  display: flex;
  width: 14rem;
  padding: 0.75rem 1rem;
  text-align: left;
  background: white;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;
}

.customSelectBtn:hover,
.customSelectBtn:focus {
  background: var(--gold-accent);
  transform: scale(1.02);
  transition: all 0.2s ease;
}

.customSelectBtn:focus-visible {
  outline: 2px solid var(--black);
  outline-offset: 2px;
  background: var(--white); 
}







.customSelectDropdown {
  background: white;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius);
  list-style: none;
  margin: 0.25rem 0 0 0;
  padding: 0;
  width: 90%;
  max-width: 20rem;
  position: absolute;
  top: 5.5rem;
  z-index: 10;
}

.customSelectOption {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.75rem 1rem;
}
.customSelectOption:not(:last-child) {
  border-bottom: 2px solid var(--very-light-grey);
}

.customSelectOption:hover {
  background: #f0f0f0;
}

.optionLabel {
  color: var(--black);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .timerselectContainer {
    max-width: 38rem;
  }

  .optionLabel {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 900px) {
  .timerselectContainer {
    max-width: 50rem;
  }
}
