/* german flag colours: 
https://www.flagcolorcodes.com/germany
schwartz #000 rgb(0, 0, 0)
rot #dd0000 rgb(221, 0, 0). https://www.colorhexa.com/dd0000
gold # ffcc00 rgb(255, 204, 0) https://www.colorhexa.com/ffcc00

triadic color to gold: #00ffcc
complementary to red: #00dddd

although white and black are easy, keep as vars in case 
i decide to have a black-flag and black and off-white and white
*/

:root {
  /* official flag colors  */
  --black: #000000;
  --very-light-grey: #d6d4d4;
  --light-grey: #999999;
  --grey: #494949;
  --red: #dd0000;
  --red-accent: #540404;
  --gold: #ffcc00;
  --gold-accent: #ffea9a;
  --blue: #00dddd;
  --green-light: #00ffcc;
  --white: #fff;
  --off-white: #e2e2e2;

  --flag-stripe-height: 200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-synthesis: none;
}

body {
  min-height: 100vh;
  background: var(--gold);
}

main {
  padding: 0;
  max-width: 100%;
  overflow-wrap: break-word;
}

/* SERIF GOOGLE FONT DOMINE  */
h1,
h2,
h3 {
  font-family: 'Domine', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* SANS-SERIF GOOGLE FONT MANROPE  */
p,
li,
button {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* MAIN APP PAGE / STARTING PAGE  */
.start-page-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--red);
  color: var(--white);
  display: flex;
  height: var(--flag-stripe-height);
  align-items: center;
  text-align: center;
}

.btns-container {
  background: var(--gold);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  min-height: var(--flag-stripe-height);
  padding: 1rem 0;
}

/* QUIZBOARD no need for module*/
.quiz-board {
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-align: center;
  max-width: 50rem;

}

.quiz-question-intro {
  display: flex;
  gap: 0.3rem;
  padding: 0.25rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.quiz-question {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.quiz-question-intro,
.quiz-question-container {
  padding: 0.25rem;
}

.answer-options-container {
  width: 100%;
  padding: 0.25rem;
}

.quiz-question-container {
  background: var(--red);
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.quiz-question-container h2 {
  font-size: 1.2rem;
}

#answer-options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.answer {
  width: 100%;
  margin: 0 auto;
}

.answer .answer-btn {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}

/* BUTTONS USED TO START GAME AND AS ANSWERS  */
.btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.start-btn {
  background-image: linear-gradient(
    to right,
    #dd0000 0%,
    #b31217 51%,
    #dd0000 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  display: block;
  font-size: 1rem;
}

.start-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.answer-btn {
  background: var(--black);
}
.answer-btn {
  background-size: 200% auto;
  box-shadow: 0 0 5px #272727;
  color: white;
  font-size: 1.25rem;
  transition: 0.5s;
}

.answer-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* figure something else out.  */
/* font color is just for now to check if clicked and right/wrong work */
.answer-btn.answered {
  font-weight: 700;
}
.answer-btn.correct {
  color: var(--gold);
  border-color: var(--gold);
  animation: correct-bobble 0.5s 2;
}
.answer-btn.incorrect {
  color: var(--red);
  font-weight: bold;
  border-color: var(--red-accent);
  animation: incorrect-shake 0.5s 2;
}

/* CUSTOM SELECT NOT IN MODULE  */


/* TIMERS PROGRESS BAR AND BEER  */
#timer-progress-bar.hidden {
  visibility: hidden;
}

/* max-width: 20rem;
  width: 100%; */

/* ANIMATIONS  */

@keyframes incorrect-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes correct-bobble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@media screen and (min-width: 426px) {
  .quiz-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quiz-question-intro,
  .answer-options-container {
    width: 90%;
    max-width: 630px;
  }
}

@media screen and (min-width: 768px) {
  .start-btn {
    max-width: 20rem;
    width: 100%;
  }

  .quiz-question-intro {
    flex-direction: column;
    align-items: center;
    max-width: 57rem;
  }
  .quiz-question {
    flex-direction: row;
    gap: 0;
    align-items: center;
    align-self: flex-start;
    width: 75%;
    max-width: 56rem;
    height: 150px;
  }

  .quiz-question h2 {
    font-size: 1.5rem;
    flex-grow: 1;
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
  }

  .quiz-board {
    max-width: unset;
  }

  .answer .answer-btn {
    font-size: 1.35rem;
  }

  .timer-div {
    position: absolute;
    left: 75%;
  }
}
