/* german flag colours: 
https://www.flagcolorcodes.com/germany
schwartz #000 rgb(0, 0, 0)
rot #dd0000 rgb(221, 0, 0). https://www.colorhexa.com/dd0000
gold # ffcc00 rgb(255, 204, 0) https://www.colorhexa.com/ffcc00

triadic color to gold: #00ffcc
complementary to red: #00dddd
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-synthesis: none;
  height: 100%;
}

body {
  margin: 0;
  padding-top: 130px;
  background-image: url('../src/assets/germany-1038606_1280.png');
  background-attachment: fixed;
  background-size: 130%;
  background-position: center -20px;
}

/* SERIF GOOGLE FONT DOMINE  */
h1,
h2,
h3 {
  font-family: 'Domine', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* SANS-SERIF GOOGLE FONT MANROPE  */
p,
li,
button {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btns-container {
  padding-top: 5rem;
}

/* QUIZBOARD no need for module*/
#quiz-board {
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  width: 50%;
  margin-top: 9rem;
  max-width: 50rem;
}

#answer-options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.answer {
  width: 80%;
  min-width: 30rem;
  margin: 0 auto;
}

.answer .answer-btn {
  display: inline-block;
  width: 100%;
}

/* MOVE TO MODULE  */
/* BUTTONS USED TO START GAME AND AS ANSWERS  */
.btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
}

.start-btn {
  background-image: linear-gradient(
    to right,
    #dd0000 0%,
    #b31217 51%,
    #dd0000 100%
  );
  max-width: 20rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  display: block;
}

.start-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/* fix the black. if wrong answer turn color to red, it is hard to see  */
.answer-btn {
  background-image: linear-gradient(to right, #000 0%, #859398 51%, #000 100%);
}
.answer-btn {
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  color: white;
  font-size: 1.25rem;
  transition: 0.5s;
}

.answer-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* figure something else out.  */
/* font color is just for now to check if clicked and right/wrong work */
.answer-btn.answered {
  font-weight: 700;
}
.answer-btn.correct {
  color: #ffcc00;
}
.answer-btn.incorrect {
  color: #dd0000;
}


/* TIMER MODULE  */
#timer-progress-bar.hidden {
  visibility: hidden;
}