:root {
  --black: #000000;
  --very-light-grey: #d6d4d4;
  --light-grey: #999999;
  --grey: #494949;
  --grey-shadow: rgb(73, 73, 73, 0.8);
  --red: #dd0000;
  --red-accent: #540404;
  --gold: #ffcc00;
  --gold-accent: #ffea9a;
  --blue: #00dddd;
  --green-light: #00e03c;
  --white: #fff;
  --off-white: #e2e2e2;
  --serif: 'Domine', serif;
  --sans-serif: 'Manrope', sans-serif;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-synthesis: none;
}

body {
  min-height: 100vh;
}

main {
  padding: 0;
  padding-bottom: 10rem;
  max-width: 100%;
  overflow-wrap: break-word;
  background: var(--gold);
  min-height: 100vh;
}

/* SERIF GOOGLE FONT DOMINE  */
h1,
h2,
h3 {
  font-family: var(--serif);
  font-optical-sizing: auto;
  font-style: normal;
}

/* SANS-SERIF GOOGLE FONT MANROPE  */
span,
p,
li,
button {
  font-family: var(--sans-serif);
  font-optical-sizing: auto;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

/* MAIN APP PAGE / STARTING PAGE  */
.start-page-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--red);
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 200px;
}

.btn-cards-container {
  background: var(--gold);
  display: grid;
  grid-template-columns: minmax(250px, 400px);
  gap: 1rem;
  min-height: 200px;
  padding: 1rem;
  justify-content: center;
}

.btn-cards-container .start-quiz-card {
  background: var(--white);
  margin: 0 auto;
  padding: 1rem;
}

.start-quiz-card {
  display: flex;
  flex-direction: column;
}
.start-quiz-card p {
  margin-bottom: 1rem;
  text-align: center;
  flex: 1;
}

/* QUIZBOARD */
.quiz-board {
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px var(--grey-shadow);
  border-radius: var(--border-radius);
  text-align: center;
}

/* BUTTONS  */
.btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-align: center;
}

.start-btn {
  background: var(--red);
  transition: 0.5s;
  color: #fff;
  display: block;
  font-size: 1rem;
}

.start-btn:hover {
  background: var(--red-accent);
  transform: scale(1.02);
  transition: all 0.2s ease;
}

.start-btn:focus {
  background: var(--red-accent);
  transform: scale(1.02);
  transition: all 0.2s ease;
  outline: none;
}

.start-btn:focus-visible {
  outline: 2px solid var(--black);
  outline-offset: 2px;
}

/* TIMERS PROGRESS BAR AND BEER  */
#timer-progress-bar.hidden {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .btn-cards-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    padding: 1rem 2rem;
  }

  .start-quiz-card p {
    font-size: 1.25rem;
  }

  .start-btn {
    max-width: 20rem;
    width: 100%;
  }

  .quiz-board {
    max-width: unset;
  }
}

@media screen and (min-width: 900px) {
  main {
    min-height: 150vh;
  }
}

@media screen and (min-width: 1030px) {
  .btn-cards-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  .btn-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
